@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  background-color: #0d0c10;
}

.movie-title {
  @apply text-2xl font-bold;
  color: white;
}

.movie-description {
  @apply line-clamp-2 text-sm text-gray-300;
}

.btn-rounded-opacity {
  @apply btn btn-circle btn-ghost bg-gray-900/80;
}

.title {
  @apply text-2xl font-bold;
  color: white;
}

.subtitle {
  @apply text-sm;
  color: white;
}

.zoom-in {
  @apply scale-110 transform transition-transform duration-200 ease-in-out;
}

.simple-btn-rounded-opacity {
  background-color: rgb(17 24 39 / 0.8);
  @apply inline-flex h-12 w-12 cursor-pointer items-center justify-center rounded-full;
}

.simple-btn-rounded-opacity:hover {
  background-color: var(--fallback-bc, oklch(var(--bc) / 0.2));
}
